@font-face {
  font-family: 'ItimReg';
  src: url('./components/fonts/Itim-Regular.ttf')
}

body {
  margin: 0;
  font-family: 'ItimReg';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282c34;
  color: #fff;
}



